a {
    text-decoration: none;
    color: white;
}

.height-50-vh {
    height: 50vh;
}

.height-50-p {
    height: 50%;
}

.height-10-vh {
    height: 10vh;
}

.width-50-vw {
    width: 50vw;
}

.width-90-vw {
    width: 90vw;
}

.width-16-vw{
    width: 16vw;
}

.inline-grid {
    display: inline-grid;
}

.border-10-px {
    border-width: 10px !important;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-gray {
    border-color: rgb(235, 235, 235);
}

.center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.box-shadow {
    box-shadow: 10px 10px black;
}

.margin-t-5p {
    margin-top: 5%;
}

.margin-t-50p {
    margin-top: 50%;
}

.margin-l-10p {
    margin-left: 50%;
}

.left-50-p{
    left: 50%;
}

.top-50-p{
    top: 50%;
}

/* p in the end is for plus, so it translates plus 50 percent on y axis */
.translate-y-100pl{
    transform: translate(0, -100%);
}

.translate-xy-50mi{
    transform: translate(-100%, -50%);
}

.translate-y-50mi{
    transform: translate(-100%, -50%);
}

.translate-x-50mi {
    transform: translate(-50%, 0);
}

.align-vertical-2cm {
    line-height: 2cm;
}

.fontsize-2vw{
    font-size: 2vw;
}

a:hover {
    text-decoration: none;
    color: white;
}

.p-hover:hover {
    background-color: blue !important;
}

li{
    list-style: none;
}